html,
body, body > div {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}



main {
  margin: 1em auto;
  max-width: 50rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form_container {
  overflow-y: auto;
  overflow-x: hidden;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.footer {
  width: 100%;
  min-height: 3rem;
  padding: 1em;
}
