html,
body, body > div {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



main {
  max-width: 60rem;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.footer {
  width: 100%;
  min-height: 3rem;
  padding: 1em;
}

.no-border {
  .MuiOutlinedInput-notchedOutline, fieldset {
    border: none !important;
    border-width: 0;
  }
}

/* hide form textfield descriptions */
.MuiInput-root + .MuiFormHelperText-root {
  display: none;
}

.MuiFormHelperText-root .wmde-markdown {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}
